@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body{
	font-family:Oxygen, sans-serif;
	color:#363636;
	text-align: center;
}

text{
	font-size: 0.5rem;
	font-family: inherit;
}

#tooltip{
	background-color: white;
	opacity: 0.9;
	padding: 5px;
	border-radius: 5px;
	font-size: 0.8rem;
}
